*{
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
header{
    font: var(--fonte2);
    font-size: 5vw;
    text-align: center;
    background-color: black;
    color: white;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    
}