body{
    background-image: url('/Desafios/Desafio13/imagens/fundo-madeira.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    list-style: none;
    
}

.celular{
    height: 600px;
    width: 400px;
    display: block;
    position: relative;
    margin: auto;  
}

ul{
    position: relative;
    left: 90vw;
    top: 10vh;
}

li{
    list-style: none;   
}
a{
    color: white;
}

img#instagram{
    width: 40px;
    border-radius: 25%;
}