*{
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url('/Desafios/Desafio13/imagens/fundo-madeira.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    list-style: none;
    overflow: hidden;
    
}

img.celular{
    margin: auto;
    display: block;
    height: 480px;
    width: 250px;
    position: relative;
    bottom: 30px;
}


ul{
    position: relative;
    left: 95vw;
    top: 10vh;
}

li{
    list-style: none;   
}
a{
    color: white;
}

img.icons{
    width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.tela{
    position: relative;
    bottom: 70vh;
    height: 300px;
    left: 40vw;
}
.home{
    position: relative;
    bottom: 71.5vh;
    height: 358px;
    width: 211px;
    left: 42.3vw;
}